<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artcweb.dao.NailOrderDao">

	<resultMap type="com.artcweb.baen.NailOrder" id="result">
		<result property="id" column="id" />
		<result property="username" column="username" />
		<result property="mobile" column="mobile" />
		<result property="currentStep" column="current_step" />
		<result property="imageUrl" column="image_url" />
		<result property="comefrom" column="comefrom" />
		<result property="nailConfigId" column="nail_config_id" />
		<result property="width" column="width" />
		<result property="height" column="height" />
		<result property="step" column="step" />
		<result property="nailCountDetail" column="nail_count_detail" />
		<result property="createDate" column="create_date" />
		<result property="updateDate" column="update_date" />
	</resultMap>
	
	<insert id="save" parameterType="com.artcweb.baen.NailOrder" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO t_nail_order(username,mobile,step,current_step,image_url,comefrom,nail_config_id,nail_count_detail,width,height,create_date,update_date)
      VALUE (#{username},#{mobile},#{step},#{currentStep},#{imageUrl},#{comefrom},#{nailConfigId},#{nailCountDetail},#{width},#{height},now(),now())
     </insert>

	<!--删除 -->
	<delete id="delete" parameterType="Integer">
		delete from
		`t_nail_order`
		where id=#{id}
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteByBatch" parameterType="String">
		delete from
		`t_nail_order`
		where
		FIND_IN_SET (id,#{id})
	</delete>
	
	<select id="getByBatch" parameterType="String" resultType="com.artcweb.baen.NailOrder">
		select id as id, image_url as imageUrl from
		`t_nail_order`
		where
		FIND_IN_SET (id,#{id})
	</select>
	
	<!-- 更新 -->
	<update id="update" parameterType="com.artcweb.baen.NailOrder">
		update `t_nail_order`
		set
		username=#{username},
		mobile=#{mobile},
		step=#{step},
		current_step=#{currentStep},
		image_url=#{imageUrl},
		comefrom=#{comefrom},
		nail_config_id=#{nailConfigId},
		nail_count_detail=#{nailCountDetail},
		height=#{height},
		width=#{width},
		update_date = now()
		where
		id=#{id}
	</update>

	<!-- 查找 -->
	<select id="get" parameterType="Integer" resultMap="result">
		select id as id
		,username as username
		,mobile as mobile
		,step as step
		,current_step as currentStep
		,image_url as imageUrl
		,comefrom as comefrom
		,nail_config_id as nailConfigId
		,nail_count_detail as nailCountDetail
		,height as height
		,width as width
		,create_date as createDate
		,update_date as updateDate
		 from
		`t_nail_order`
		where id = #{id}
		order by id limit 1
	</select>
	
	<select id="checkExist" parameterType="Map" resultType="Integer">
		select count(1)
		 from
		`t_nail_order`
		<where>
			<if test="null != id  and '' != id">
					<![CDATA[id <> #{id}]]>
			</if>
			<if test="null != imageUrl  and '' != imageUrl">
					and image_url = #{imageUrl}
			</if>
			<if test="null != username  and '' != username">
					and username = #{username}
			</if>
		</where>
		order by id limit 1
	</select>
	
	<select id="getById" parameterType="Integer" resultMap="result">
		select id as id
		,username as username
		,mobile as mobile
		<!-- ,step as step -->
		,current_step as currentStep
		,image_url as imageUrl
		,comefrom as comefrom
		,nail_config_id as nailConfigId
		<!-- ,nail_count_detail as nailCountDetail -->
		,height as height
		,width as width
		,create_date as createDate
		,update_date as updateDate
		 from
		`t_nail_order`
		where id = #{id}
		order by id limit 1
	</select>
	
	
	<select id="select" parameterType="Map" resultMap="result">
		SELECT * FROM t_nail_order t
		ORDER by id desc
	</select>
	
	<!-- 查询 -->
	<select id="selectByPage" parameterType="Map" resultType="com.artcweb.dto.NailOrderDto">
		SELECT t.id as id,
		t.username as username,
		t.mobile as mobile,
		<!--t.step as step,
		 t.current_step as currentStep,  -->
		t.image_url as imageUrl,
		t.comefrom as comefrom,
		t.nail_config_id as nailConfigId,
		<!-- t.nail_count_detail as nailCountDetail,
		t.width as width,
		t.height as height, -->
		nf.nail_type as nailType,
		t.create_date as createDate,
		t.update_date as updateDate
		 FROM t_nail_order t left join t_nail_config nf on t.nail_config_id = nf.id
		<where>
			<if test="null != entity and  null != entity.username and '' != entity.username">
					t.username  like '%${entity.username}%'
			</if>
			<if test="null != entity and  null != entity.mobile and '' != entity.mobile">
					and t.mobile like '%${entity.mobile}%'
			</if>
			<if test="null != entity and  null != entity.comefrom and '' != entity.comefrom">
					and t.comefrom = #{entity.comefrom}
			</if>
			<if test="null != entity and  null != entity.nailConfigId and '' != entity.nailConfigId">
					and t.nail_config_id = #{entity.nailConfigId}
			</if>
		</where>
		ORDER by t.id desc limit ${page.begin},${page.limit} 
	</select>
	
	<select id="findByPageCount" parameterType="Map" resultType="int">
		SELECT count(1) FROM `t_nail_order` t
		<where>
			<if test="null != entity and  null != entity.username and '' != entity.username">
					t.username  like '%${entity.username}%'
			</if>
			<if test="null != entity and  null != entity.mobile and '' != entity.mobile">
					and t.mobile like '%${entity.mobile}%'
			</if>
			<if test="null != entity and  null != entity.comefrom and '' != entity.comefrom">
					and t.comefrom = #{entity.comefrom}
			</if>
			<if test="null != entity and  null != entity.nailConfigId and '' != entity.nailConfigId">
					and t.nail_config_id = #{entity.nailConfigId}
			</if>
		</where>
	</select>
	
	

</mapper> 