<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artcweb.dao.RoleDao">
	
	<!-- resultMap -->
	<resultMap type="com.artcweb.bean.Role" id="resultMap">
		<result property="id" column="id" />
		<result property="roleName" column="roleName" />
		<result property="description" column="description" />
		<result property="createDate" column="createDate" />
		<result property="updateDate" column="updateDate" />
	</resultMap>

	<!-- 保存 -->
	<insert id="save" parameterType="com.artcweb.bean.Role" useGeneratedKeys="true" keyProperty="id">
		insert into t_role (
			roleName
			,description
			,createDate
			,updateDate
		)
		 values
		 (
			#{roleName}
			,#{description}
			,now()	
			,now()	
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="Integer">
		delete from t_role where id = #{id};
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteByBatch"  parameterType="String">
		delete from
		t_role
		where FIND_IN_SET (id,#{id})
	</delete>
	
	<!-- 修改-->
	<update id="update" parameterType="com.artcweb.bean.Role" >
		update t_role 
			set update_Date = now()
				,roleName = #{roleName}
				,description = #{description}
		where id = #{id}
	</update>
	
	<!-- 根据id获取对象-->
 	<select id="get" parameterType="Integer" resultMap="resultMap">
 		select 
				id
				,roleName
				,description
				,createDate
				,updateDate
		 from t_role where id = #{id} 
		 order by id ,create_date desc limit 1;
 	</select>
 	
 	<!-- 通过Map单个查找-->
	<select id="getOneByMap" parameterType="Map" resultMap="resultMap">
		select 
				id
				,roleName
				,description
				,createDate
				,updateDate
		 from
		t_role
		<where>
 			<if test="null != roleName and ''!= roleName">
			roleName = #{roleName}
			</if>
			<if test="null != description and ''!= description">
			and description = #{description}
			</if> 
			<if test="null != createDate and ''!= createDate">
			and createDate = #{createDate}
			</if> 
			<if test="null != updateDate and ''!= updateDate">
			and updateDate = #{updateDate}
			</if> 
		</where>
		order by id ,create_date desc limit 1;
	</select>
	
	<!-- 列表查询 -->
	<select id="select" parameterType="Map" resultMap="resultMap">
 		select 
				id
				,roleName
				,description
				,createDate
				,updateDate
 		 from t_role
 		<where>
 			<if test="null != roleName and ''!= roleName">
			roleName = #{roleName}
			</if>
			<if test="null != description and ''!= description">
			and description = #{description}
			</if> 
			<if test="null != createDate and ''!= createDate">
			and createDate = #{createDate}
			</if> 
			<if test="null != updateDate and ''!= updateDate">
			and updateDate = #{updateDate}
			</if> 
 		</where>
 		order by id ,create_date desc;
 	</select>
 	
 	<!-- 分页查找 -->
	<select id="selectByPage" parameterType="Map" resultType="com.artcweb.dto.RoleDto">
		select 
				t.id as id
				,t.roleName as roleName
				,t.description as description
				,t.createDate as createDate
				,t.updateDate as updateDate
 		 from t_role as t
 		<where>
 			<if test="null != entity.id ">
				id = #{roleVo.id} 
			</if>	
			<if test="null != entity.roleName and ''!= entity.roleName">
				and roleName = #{entity.roleName}
			</if> 
			<if test="null != entity.description and ''!= entity.description">
				and description = #{entity.description}
			</if> 
			<if test="null != entity.createDate and ''!= entity.createDate">
				and createDate = #{entity.createDate}
			</if> 
			<if test="null != entity.updateDate and ''!= entity.updateDate">
				and updateDate = #{entity.updateDate}
			</if> 
 		</where>
 		order by t.id ,t.create_date desc   
 		<if test="null != page and '' != page and null != page.begin and null !=page.limit ">
 		 limit ${page.begin} , ${page.limit};
 		 </if>
	</select>
	
	<!-- 分页查找数量 -->
	<select id="selectByPageCount" parameterType="Map" resultType="Integer">
		select count(1)  from t_role as t
 		<where>
 			<if test="null != entity.id ">
				t.id = #{roleVo.id} 
			</if>	
			<if test="null != entity.roleName and ''!= entity.roleName">
				and t.roleName = #{entity.roleName}
			</if> 
			<if test="null != entity.description and ''!= entity.description">
				and t.description = #{entity.description}
			</if> 
			<if test="null != entity.createDate and ''!= entity.createDate">
				and t.createDate = #{entity.createDate}
			</if> 
			<if test="null != entity.updateDate and ''!= entity.updateDate">
				and t.updateDate = #{entity.updateDate}
			</if> 
 		</where>
 		order by id ,t.create_date desc ;
	</select>

</mapper>