<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artcweb.dao.SecretDao">

	<resultMap type="com.artcweb.bean.Secret" id="result">
		<result property="id" column="id" />
		<result property="secretKey" column="secret_key" />
		<result property="orderId" column="order_id" />
		<result property="siteName" column="site_name" />
		<result property="status" column="status" />
		<result property="createDate" column="create_date" />
		<result property="updateDate" column="update_date" />
	</resultMap>

	
	<insert id="saveBatch" parameterType="List">
      INSERT INTO t_secret(secret_key,order_id,status,create_date,update_date)
      VALUES
	      <foreach collection="list" item="item" separator=",">
	      (#{item},null,0,now(),now())
	      </foreach>
     </insert>

	<!--删除 -->
	<delete id="delete" parameterType="Integer">
		delete from
		`t_secret`
		where id=#{id}
	</delete>
	

	<!-- 批量删除 -->
	<delete id="deleteByBatch" parameterType="String">
		delete from
		`t_secret`
		where
		FIND_IN_SET (id,#{id})
	</delete>
	
	<!-- 更新 -->
	<update id="update" parameterType="com.artcweb.bean.Secret">
		update `t_secret`
		set
		order_id=#{orderId}
		,status=#{status}
		,site_name=#{siteName}
		,update_date=now()
		where
		id=#{id}
	</update>


	<!-- 查找 -->
	<select id="get" parameterType="Integer" resultMap="result">
		select * from
		`t_secret`
		where id = #{id}
		order by id limit 1
	</select>
	
	
	<select id="getDetail" parameterType="Map" resultType="com.artcweb.dto.SecretDto">
		 
		 <choose>
		 	<when test="null != siteName  and '' != siteName and siteName == 1">
					SELECT t.*,IFNULL(au.user_name,'') AS username FROM (
						 SELECT t.*,IFNULL(p.`package_name`,'') AS packageName FROM 
						 ( SELECT t.`id` AS id,t.`secret_key` AS secretKey,IFNULL(t.`order_id`,'') AS orderId,t.`status` AS STATUS,IFNULL( t.site_name,'') AS siteName, 
						 t.`create_date` AS createDate ,t.`update_date` AS updateDate, IFNULL(o.`mobile`,'')AS mobile,IFNULL(o.user_id,'') AS user_id,IFNULL(o.`package_id`,'') AS packageId FROM `t_secret` t 
						 LEFT JOIN `order` o ON t.`order_id`=o.`id` ORDER BY id DESC ) t LEFT JOIN `pic_package` p 
						 ON t.packageId = p.`package_id` 
						  WHERE t.siteName=1 and t.id = #{id}
					) t LEFT JOIN user au ON t.user_id = au.id
		 	</when>
		 	
		 	<when test="null != siteName  and '' != siteName and siteName == 2">
				SELECT  t.id,
			        t.`secret_key` AS secretKey,
			        IFNULL(t.`order_id`,'') AS orderId,
			        t.`status` AS `status`,
			        t.`create_date` AS createDate,
			        t.`update_date` AS updateDate,
			        IFNULL(t.`site_name`,'') AS siteName,
				IFNULL(o.`comefrom`,'') AS comefrom,
				IFNULL(o.`mobile`,'') AS mobile,
				IFNULL(o.`username`,'') AS username,
				IFNULL(o.`image_name`,'') AS packageName
				FROM `t_secret` t LEFT JOIN `t_nail_order` o ON t.`order_id` = o.id
				WHERE t.site_name=2 and t.id = #{id}
		 	</when>
		 	
		 </choose>
		 
	</select>
	
	
	
	<select id="getByMap" parameterType="Map" resultMap="result">
		select * from
		`t_secret`
		<where>
			<if test="null != secretKey and '' != secretKey">
				secret_key = #{secretKey}
			</if>
			<if test="null != status">
				and status = #{status}
			</if>
		</where>
		order by id limit 1
	</select>
	
	<select id="checkExit" parameterType="Map" resultType="int">
		select count(1) from
		`t_secret`
		<where>
			<if test="null != secretKey and '' != secretKey">
				secret_key = #{secretKey}
			</if>
			<if test="null != status">
				and status = #{status}
			</if>
		</where>
	</select>

	
	<!-- 查询 -->
	<select id="searchByPage" parameterType="Map" resultType="com.artcweb.dto.SecretDto">
			SELECT t.`id` AS id,t.`secret_key` AS secretKey,t.`order_id` AS orderId,t.`status` AS STATUS, t.site_name AS siteName,
			t.`create_date` AS createDate ,t.`update_date` AS updateDate
			FROM `t_secret` t 
			<where>
				<if test="null != entity.secretKey and '' != entity.secretKey">
						t.secret_key = #{entity.secretKey}
				</if>
				<if test="null != entity.status">
						and t.status = #{entity.status}
				</if>
				<if test="null != entity.siteName and '' != entity.siteName">
						and t.site_name = #{entity.siteName}
			</if>
				<if test="null != entity.createDateStr and '' != entity.createDateStr">
						<![CDATA[  
						and t.create_date >= #{entity.beginDate} and  t.create_date <= #{entity.endDate} 
						]]>
				</if>
			</where>
			ORDER by id desc limit ${page.begin},${page.limit} 
	</select>
	
	<select id="searchByPageCount" parameterType="Map" resultType="int">
		SELECT count(1) FROM `t_secret` t
		<where>
			<if test="null != entity.secretKey and '' != entity.secretKey">
					t.secret_key = #{entity.secretKey}
			</if>
			<if test="null != entity.status">
					and t.status = #{entity.status}
			</if>
			<if test="null != entity.siteName and '' != entity.siteName">
						and t.site_name = #{entity.siteName}
			</if>
			<if test="null != entity.createDateStr and '' != entity.createDateStr">
					<![CDATA[  
					and t.create_date >= #{entity.beginDate} and  t.create_date <= #{entity.endDate} 
					]]>
			</if>
		</where>
	</select>
	
	

</mapper> 