<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artcweb.dao.NailWeightStockHistoryDao">
	
	<!-- resultMap -->
	<resultMap type="com.artcweb.bean.NailWeightStockHistory" id="resultMap">
		<result property="id" column="id" />
		<result property="nailWeightStockId" column="nail_weight_stock_id" />
		<result property="stock" column="stock" />
		<result property="price" column="price" />
		<result property="total" column="total" />
		<result property="nailConfigId" column="nail_config_id" />
		<result property="createDate" column="create_date" />
		<result property="updateDate" column="update_date" />
	</resultMap>

	<!-- 保存 -->
	<insert id="save" parameterType="com.artcweb.bean.NailWeightStockHistory" useGeneratedKeys="true" keyProperty="id">
		insert into t_nail_weight_stock_history (
			nail_weight_stock_id
			,stock
			,price
			,total
			,nail_config_id
			,create_date
			,update_date
		)
		 values
		 (
			#{nailWeightStockId}
			,#{stock}
			,#{price}
			,#{total}
			,#{nailConfigId}
			,now()	
			,now()	
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="Integer">
		delete from t_nail_weight_stock_history where id = #{id};
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteByBatch"  parameterType="String">
		delete from
		t_nail_weight_stock_history
		where FIND_IN_SET (id,#{id})
	</delete>
	
	<!-- 修改-->
	<update id="update" parameterType="com.artcweb.bean.NailWeightStockHistory" >
		update t_nail_weight_stock_history 
			set update_Date = now()
				,nail_weight_stock_id = #{nailWeightStockId}
				,stock = #{stock}
				,price = #{price}
				,total = #{total}
				,nail_config_id = #{nailConfigId}
		where id = #{id}
	</update>
	
	<!-- 根据id获取对象-->
 	<select id="get" parameterType="Integer" resultMap="resultMap">
 		select 
				id
				,nail_weight_stock_id
				,stock
				,price
				,total
				,nail_config_id
				,create_date
				,update_date
		 from t_nail_weight_stock_history where id = #{id} 
		 order by id ,create_date desc limit 1;
 	</select>
 	
 	<!-- 通过Map单个查找-->
	<select id="getOneByMap" parameterType="Map" resultMap="resultMap">
		select 
				id
				,nail_weight_stock_id
				,stock
				,price
				,total
				,nail_config_id
				,create_date
				,update_date
		 from
		t_nail_weight_stock_history
		<where>
 			<if test="null != nailWeightStockId ">
			nail_weight_stock_id = #{nailWeightStockId}
			</if>
			<if test="null != stock and ''!= stock">
			and stock = #{stock}
			</if> 
			<if test="null != price and ''!= price">
			and price = #{price}
			</if> 
			<if test="null != total and ''!= total">
			and total = #{total}
			</if> 
			<if test="null != nailConfigId and ''!= nailConfigId">
			and nail_config_id = #{nailConfigId}
			</if> 
			<if test="null != createDate and ''!= createDate">
			and create_date = #{createDate}
			</if> 
			<if test="null != updateDate and ''!= updateDate">
			and update_date = #{updateDate}
			</if> 
		</where>
		order by id ,create_date desc limit 1;
	</select>
	
	<!-- 列表查询 -->
	<select id="select" parameterType="Map" resultMap="resultMap">
 		select 
				id
				,nail_weight_stock_id
				,stock
				,price
				,total
				,nail_config_id
				,create_date
				,update_date
 		 from t_nail_weight_stock_history
 		<where>
 			<if test="null != nailWeightStockId ">
			nail_weight_stock_id = #{nailWeightStockId}
			</if>
			<if test="null != stock and ''!= stock">
			and stock = #{stock}
			</if> 
			<if test="null != price and ''!= price">
			and price = #{price}
			</if> 
			<if test="null != total and ''!= total">
			and total = #{total}
			</if> 
			<if test="null != nailconfigid and ''!= nailconfigid">
			and nail_config_id = #{nailconfigid}
			</if> 
			<if test="null != createDate and ''!= createDate">
			and create_date = #{createDate}
			</if> 
			<if test="null != updateDate and ''!= updateDate">
			and update_date = #{updateDate}
			</if> 
 		</where>
 		order by id ,create_date desc;
 	</select>
 	
 	<!-- 分页查找 -->
	<select id="selectByPage" parameterType="Map" resultType="com.artcweb.dto.NailWeightStockHistoryDto">
		SELECT 
				t.id AS id
				,t.nail_weight_stock_id AS nailWeightStockId
				,t.stock AS stock
				,t.price AS price
				,t.total AS total
				,t.nail_config_id AS nailConfigId
				,t.create_date AS createDate
				,t.update_date AS updateDate
				,tws.`rgb` AS rgb
				,tws.`rgb` AS rgbName
				,tws.`new_serial_number` AS newSerialNumber
				,tws.`old_serial_number` AS oldSerialNumber
 		 FROM t_nail_weight_stock_history AS t LEFT JOIN t_nail_weight_stock tws 
 		 ON t.nail_weight_stock_id = tws.`id`
 		<where>
 			<if test="null != entity.id ">
				id = #{nailWeightStockHistoryVo.id} 
			</if>	
			<if test="null != entity.nailWeightStockId ">
				and nail_weight_stock_id = #{entity.nailWeightStockId}
			</if> 
			<if test="null != entity.stock and ''!= entity.stock">
				and stock = #{entity.stock}
			</if> 
			<if test="null != entity.price and ''!= entity.price">
				and price = #{entity.price}
			</if> 
			<if test="null != entity.total and ''!= entity.total">
				and total = #{entity.total}
			</if> 
			<if test="null != entity.nailConfigId and ''!= entity.nailConfigId">
				and nail_config_id = #{entity.nailConfigId}
			</if> 
			<if test="null != entity.createDateStr and '' != entity.createDateStr">
						<![CDATA[  
						and t.create_date >= #{entity.beginDate} and  t.create_date <= #{entity.endDate} 
						]]>
				</if>
 		</where>
 		order by t.id desc,t.create_date desc   
 		<if test="null != page and '' != page and null != page.begin and null !=page.limit ">
 		 limit ${page.begin} , ${page.limit};
 		 </if>
	</select>
	
	<!-- 分页查找数量 -->
	<select id="selectByPageCount" parameterType="Map" resultType="Integer">
		select count(1)  from t_nail_weight_stock_history as t
 		<where>
 			<if test="null != entity.id ">
				t.id = #{nailWeightStockHistoryVo.id} 
			</if>	
			<if test="null != entity.nailWeightStockId ">
				and t.nail_weight_stock_id = #{entity.nailWeightStockId}
			</if> 
			<if test="null != entity.stock and ''!= entity.stock">
				and t.stock = #{entity.stock}
			</if> 
			<if test="null != entity.price and ''!= entity.price">
				and t.price = #{entity.price}
			</if> 
			<if test="null != entity.total and ''!= entity.total">
				and t.total = #{entity.total}
			</if> 
			<if test="null != entity.nailConfigId and ''!= entity.nailConfigId">
				and nail_config_id = #{entity.nailConfigId}
			</if> 
			<if test="null != entity.createDateStr and '' != entity.createDateStr">
						<![CDATA[  
						and t.create_date >= #{entity.beginDate} and  t.create_date <= #{entity.endDate} 
						]]>
				</if>
 		</where>
 		order by id ,t.create_date desc ;
	</select>

</mapper>